<!DOCTYPE html>
<html>
<head>
  <title>AlrightBud</title>
  <link rel="stylesheet" href="/AlrightBud/app/assets/stylesheets/bootstrap.css">

  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
